@charset "utf-8";



/***** 
    responsive 
                */
/*
폰트사이즈 기준
-----------------
PC : 1.0rem = 10px
타블렛 : 1.0rem = 9px
모바일 : 1.0rem = 10px

디바이스 크기별 폰트사이즈 조정 시 아래 형식과 같이 기준폰트 변경으로 일괄 조정
@media screen and (max-width:767px){
	html{font-size:10px;}
}

*/

#header{position:relative; z-index:102;}
#container{position:relative; z-index:101;}
#footer{position:relative; z-index:100;}

/*header*/
.header_nav{width:100%; background:#182d57;}
.header_nav .header_nav_list{width:1240px; margin:0 auto; padding:13px 0; text-align:right;}
.header_nav .header_nav_list li{display:inline-block; padding-left:15px; font-size:1.3rem; color:#fff;}
.header_nav .header_nav_list li:first-child:after{content:"/"; display:inline-block; padding-left:15px; font-style:italic;}
.header_nav .header_nav_list li.help{color:#f39800; font-weight:bold;}
.header_nav .header_nav_list li.help a:before{content:""; display:inline-block; width:17px; height:17px; margin-right:5px; background:url(../images/content/nav_help_ico.png) no-repeat; vertical-align:middle;}

.header_inner{width:1240px; margin:0 auto; text-align:right;}
.header_inner .main_logo{float:left; padding:22px 0;}
.header_inner .main_logo a{display:block; font-size:0;}
.header_inner .gnb_wrap{display:inline-block;}
.header_inner .gnb_wrap .depth01 > li{position:relative; display:inline-block; vertical-align:top;}
.header_inner .gnb_wrap .depth01 > li > a{position:relative; display:block; padding:30px 50px; font-size:2.0rem; font-weight:bold;}
.header_inner .gnb_wrap .depth01 > li.sw_ico a{font-size:0; padding:20px 0;}
.header_inner .gnb_wrap .depth01 > li > .depth02{position:absolute; display:none; top:100%; left:0; width:100%; padding-top:40px; text-align:center;}
.header_inner .gnb_wrap .depth01 > li > .depth02 > li{width:80%; margin:0 auto; margin-bottom:5px; border:1px solid #182d57;}
.header_inner .gnb_wrap .depth01 > li > .depth02 > li > a{display:block; line-height:34px; font-size:1.6rem; color:#182d57;}

.header_inner .gnb_wrap .gnb_bg{position:absolute; display:none; top:100%; left:0; width:100%; height:258px; background:#f1f1f1; border-top:1px solid #182d57; border-bottom:2px solid #182d57;}
.header_inner .gnb_wrap .gnb_bg .gnb_tit{position:relative; width:1240px; height:100%; margin:0 auto; padding-left:75px; padding-top:35px; text-align:left; font-size:1.5rem; color:#666666;}
.header_inner .gnb_wrap .gnb_bg .gnb_tit:before{content:""; position:absolute; left:0; bottom:0; width:365px; height:100%; margin-left:-310px; background:url(../images/content/gnb_bg.png) no-repeat bottom;}
.header_inner .gnb_wrap .gnb_bg .gnb_tit strong{display:inline-block; margin-bottom:10px; line-height:1.2; font-size:3.6rem; color:#182d57;}


/*content*/

/*footer*/

/*화면 크기별 css*/
@media screen and (max-width:1239px){

}

@media screen and (min-width:768px){
	.header_inner .gnb_wrap .depth01 > li:hover > a:after{content:""; position:absolute; bottom:0; left:50%; width:60%; height:3px; margin-left:-30%; background:#182d57;}
	.header_inner .gnb_wrap .depth01 > li.sw_ico:hover > a:after{display:none;}
	.header_inner .gnb_wrap:hover .depth01 > li > .depth02{display:block;}
	.header_inner .gnb_wrap .depth01 > li > .depth02 > li:hover > a{background:#182d57; color:#fff;}
	.header_inner .gnb_wrap:hover .gnb_bg{display:block;}
}

@media screen and (max-width:767px){

}

@media screen and (max-width:359px){

}