@charset "utf-8";



/***** 
    responsive 
                */

#header{position:relative; height:85px; z-index:102;}
#content{position:relative; z-index:100;}
#footer{position:relative; background:#212121; z-index:101;}

/*header*/
.header_inner{position:relative; width:1232px; height:85px; margin:0 auto;}

.main_logo{position:absolute; top:15px; left:0;}
.main_logo a{display:block;}

.h_option{position:absolute; top:35px; right:0;}
.h_option > ul:before{content:""; display:block; clear:both;}
.h_option > ul > li{position:relative; float:left; margin-left:13px; padding-left:15px;}
.h_option > ul > li:before{content:""; position:absolute; display:block; width:1px; height:12px; top:50%; left:0; margin-top:-6px; background:#575757;}
.h_option > ul > li:first-child{margin-left:0; padding-left:0;}
.h_option > ul > li:first-child:before{display:none;}
.h_option > ul > li a{display:block; font-size:14px; color:#000000;}

/*gnb*/
.gnb_wrap{position:relative; height:65px; border-top:1px solid #fff; border-bottom:1px solid rgba(225, 225, 225, 0.25); box-sizing:border-box;}
.gnb_wrap.on{background:#f6f6f6; border-top:1px solid #e3e3e3;}
.gnb_wrap .gnb_bg{display:none; position:absolute; top:63px; width:100%; height:600px; background:#fff url(../images/common/gnb_bg.png) no-repeat center bottom; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; box-shadow: 5px 20px 20px rgba(0, 0, 0, .3); box-sizing:border-box; z-index:1;}
.gnb_wrap .gnb_depth1{position:relative; width:1232px; height:100%; margin:0 auto; padding:0 45px; box-sizing:border-box; z-index:2;}
.gnb_wrap.on .gnb_depth1{height:64px;}
.gnb_wrap .gnb_depth1 > li{position:relative; float:left; width:20%;}
.gnb_wrap .gnb_depth1 > li > a{display:block; position:relative; height:63px; line-height:63px; text-align:center; font-size:18px; color:#ffffff; box-sizing:border-box;}
.gnb_wrap.on .gnb_depth1 > li > a{position:relative; color:#000000;}
.gnb_wrap .gnb_depth1 > li.on > a{color:#14BECF; font-weight:700;}
.gnb_wrap .gnb_depth1 > li.on > a:before{content:""; position:absolute; top:100%; left:0; width:100%; height:5px; background:#14BECF; border-radius:5px;}
.gnb_wrap .gnb_depth1 > li.on > a:after{content:""; position:absolute; bottom:-1px; left:50%; width:14px; height:13px; margin-left:-7px; background:url(../images/common/gnb_depth1_arrow.png) no-repeat;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2{display:none; position:absolute; top:64px; left:0; width:100%; height:600px; padding:25px 15px; border-right:1px solid #f4f4f4; box-sizing:border-box; z-index:2;}
.gnb_wrap .gnb_depth1 > li:first-child .gnb_depth2{border-left:1px solid #f4f4f4;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li{margin-bottom:35px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > a{font-size:18px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > a:hover{color:#14BECF;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > a:focus{color:#14BECF;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li.row > a:after{content:""; display:inline-block; width:18px; height:18px; margin-bottom:-1px; margin-left:10px; background:url(../images/common/gnb_depth2_plus.png) no-repeat;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3{padding-top:5px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3 li{margin-top:15px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3 li a{font-size:16px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3 li a:before{content:""; display:inline-block; width:8px; height:22px; margin-right:5px; background:url(../images/common/gnb_depth3_plus.png) no-repeat center center; vertical-align:text-bottom;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3 li.link a:after{content:""; display:inline-block; width:13px; height:13px; margin-left:5px; background:url(../images/common/gnb_link.png) no-repeat center center;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3 li a:hover{text-decoration:underline;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li .gnb_depth3 li a:focus{text-decoration:underline;}

.gnb_wrap .search_wrap{position:relative; width:1232px; margin:0 auto;}
.gnb_wrap .search_wrap .search_btn{position:absolute; top:-63px; right:0; width:45px; height:63px; font-size:0; z-index:3}
.gnb_wrap.on .search_wrap .search_btn{top:-64px;}
.gnb_wrap .search_wrap .search_btn:after{content:""; position:absolute; top:50%; right:0; width:36px; height:36px; margin-top:-18px; background:rgba(225, 225, 225, 0) url(../images/common/search_btn.png) no-repeat center center; border-radius:36px; z-index:3}
.gnb_wrap.on .search_wrap .search_btn:after{background:url(../images/common/search_btn_h.png) no-repeat center center;}
.gnb_wrap .search_wrap.on .search_btn:after{background:#00828f url(../images/common/search_btn.png) no-repeat center center;}
.gnb_wrap .search_wrap .search_inner{display:none; position:absolute; top:1px; right:0; background:#00828f; border-radius:6px;}
.gnb_wrap .search_wrap.on .search_inner{display:block; padding:20px 15px;}
.gnb_wrap .search_wrap .search_inner .search_ipt{position:relative; padding-right:30px;}
.gnb_wrap .search_wrap .search_inner .search_ipt .ico{position:relative; display:inline-block; width:18px; height:24px; padding-right:10px; background:url(../images/common/search_ico.png) no-repeat 0 center; vertical-align:top;}
.gnb_wrap .search_wrap .search_inner .search_ipt .ico:after{content:""; position:absolute; top:50%; right:0; width:1px; height:12px; margin-top:-6px; background:rgba(225, 225, 225, 0.3);}
.gnb_wrap .search_wrap .search_inner .search_ipt label{font-size:0;}
.gnb_wrap .search_wrap .search_inner .search_ipt input{width:230px; height:24px; padding:0 10px; border:0; background:none; color:#ffffff; font-size:14px; vertical-align:top;}
.gnb_wrap .search_wrap .search_inner .search_ipt input::placeholder{color:#ffffff;}
.gnb_wrap .search_wrap .search_inner .search_ipt a{position:absolute; top:50%; right:0; width:17px; height:17px; margin-top:-9px; background:url(../images/common/search_close.png) no-repeat center center; font-size:0;}

/*main contents*/
.m_cont01{position:relative; height:642px; padding-top:90px; background:url(../images/common/main_top_bg.png) no-repeat center center / cover; box-sizing:border-box;}
.m_cont01:after{content:""; position:absolute; bottom:0; left:0; width:100%; height:165px; background:rgba(0, 0, 0, 0.3);}
.main_banner_wrap{width:1232px; margin:0 auto;}
.main_banner_wrap:before{content:""; display:block; clear:both;}
.main_banner_wrap .main_banner_for{float:left; width:458px; margin-top:30px; box-shadow:12px 12px 25px rgba(0, 0, 0, .2); border-radius:10px; z-index:2;}
.main_banner_wrap .main_banner_for .item{vertical-align:top;}
.main_banner_wrap .main_banner_for .item a{display:block; height:552px; background-size:100%; background-repeat:no-repeat;}
.main_banner_wrap .main_banner_for .item dl dt,
.main_banner_wrap .main_banner_for .item dl dd{font-size:0; text-indent:-9999px;}

.main_banner_wrap .main_banner_right{float:right; width:730px; padding-top:90px;}
.main_banner_wrap .main_banner_right .main_banner_txt{height:110px; margin-bottom:50px;}
.main_banner_wrap .main_banner_right .main_banner_txt dl dt{margin-bottom:25px; font-size:33px; font-weight:700;}
.main_banner_wrap .main_banner_right .main_banner_txt dl dd{font-size:20px; line-height:26px;}

.main_banner_wrap .main_banner_right .main_banner_control{margin-bottom:95px;}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn{display:inline-block; padding:10px 20px; border-radius:40px; background:rgba(0, 0, 0, 0.3);}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button{font-size:0;}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button{display:inline-block; width:14px; height:20px; margin-left:15px; font-size:0; background-position:center center; background-repeat:no-repeat; vertical-align:middle;}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button:first-child{margin-left:0;}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button.prev{background-image:url(../images/common/link_list_prev.png);}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button.stop{background-image:url(../images/common/link_list_stop.png);}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button.start{background-image:url(../images/common/link_list_start.png);}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn button.next{background-image:url(../images/common/link_list_next.png);}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn .num{margin-left:15px; line-height:20px; color:#BEBEBE; vertical-align:middle;}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn .num strong{margin-right:15px; font-size:16px; color:#FFE600;}
.main_banner_wrap .main_banner_right .main_banner_control .main_banner_btn .num span{margin-left:15px; font-size:14px; color:#fff;}

.m_cont02{width:1232px; margin:0 auto; margin-bottom:60px; padding-top:90px;}
.m_cont02 .notice_wrap h3{margin-bottom:25px; text-align:center; font-size:22px;}
.m_cont02 .notice_wrap .list_box{position:relative; height:260px; text-align:center;}
.m_cont02 .notice_wrap .list_box > li{display:inline-block; margin:0 20px;}
.m_cont02 .notice_wrap .list_box > li .tab_btn{position:relative; padding:3px 0; font-size:18px;}
.m_cont02 .notice_wrap .list_box > li.on .tab_btn{color:#F37020;}
.m_cont02 .notice_wrap .list_box > li.on .tab_btn:after{content:""; position:absolute; bottom:0; left:0; width:100%; height:2px; background:#F37020;}
.m_cont02 .notice_wrap .list_box > li > ul{display:none; position:absolute; top:70px; left:0; width:100%;}
.m_cont02 .notice_wrap .list_box > li.on > ul{display:block; overflow:hidden;}
.m_cont02 .notice_wrap .list_box > li > ul li{float:left; width:calc((100% - 54px) / 4); margin-left:18px;}
.m_cont02 .notice_wrap .list_box > li > ul li:first-child{margin-left:0;}
.m_cont02 .notice_wrap .list_box > li > ul li a{display:block; padding:30px 20px; border:1px solid #DCDCDC; text-align:left;}
.m_cont02 .notice_wrap .list_box > li > ul li a:hover{border:1px solid #F9A61A;}
.m_cont02 .notice_wrap .list_box > li > ul li a:focus{border:1px solid #F9A61A;}
.m_cont02 .notice_wrap .list_box > li > ul li a > span{display:block; font-size:16px;}
.m_cont02 .notice_wrap .list_box > li > ul li a .cate{margin-bottom:20px; color:#50B849;}
.m_cont02 .notice_wrap .list_box > li > ul li a .txt{margin-bottom:30px; font-size:18px; line-height:22px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.m_cont02 .notice_wrap .list_box > li > ul li a .date{color:#6D6E72;}
.m_cont02 .notice_wrap .list_box > li > ul li a .date .name{position:relative; margin-left:12px; padding-left:13px;}
.m_cont02 .notice_wrap .list_box > li > ul li a .date .name:before{content:""; position:absolute; top:50%; left:0; width:1px; height:12px; margin-top:-5px; background:#6D6E72;}

.m_cont02 .notice_wrap .list_box > li .notice_more{display:none; position:absolute; top:0; right:0; width:32px; height:32px; font-size:0; background:#F9A61A url(../images/common/notice_more_btn.png) no-repeat center center; border-radius:32px;}
.m_cont02 .notice_wrap .list_box > li.on .notice_more{display:block;}

.m_cont03{height:444px; margin-bottom:70px; background:url(../images/common/custom_service_bg.png) no-repeat center center / cover;}
.m_cont03 .custom_service_wrap{width:1232px; margin:0 auto; padding-top:70px;}
.m_cont03 .custom_service_wrap h3{text-align:center; margin-bottom:20px;}
.m_cont03 .custom_service_wrap .txt{margin-bottom:75px; font-size:16px; line-height:20px; color:#fff; text-align:center;}
.m_cont03 .custom_service_wrap .custom_service_list{overflow:hidden; font-size:0;}
.m_cont03 .custom_service_wrap .custom_service_list li{position:relative; float:left; width:25%; height:100px;}
.m_cont03 .custom_service_wrap .custom_service_list li:before{content:""; position:absolute; top:50%; left:0; width:1px; height:64px; margin-top:-32px; background:rgba(225, 225, 225, 0.35);}
.m_cont03 .custom_service_wrap .custom_service_list li:first-child:before{display:none;}
.m_cont03 .custom_service_wrap .custom_service_list li a{position:relative; display:block; padding-top:15px; padding-left:140px;}
.m_cont03 .custom_service_wrap .custom_service_list li a:before{content:""; position:absolute; top:0; left:30px; width:100px; height:100px; border-radius:100px; box-sizing:border-box;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico01:before{background:url(../images/common/custom_service_ico01.png) no-repeat center center; border:3px solid #F37020;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico02:before{background:url(../images/common/custom_service_ico02.png) no-repeat center center; border:3px solid #A6CE39;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico03:before{background:url(../images/common/custom_service_ico03.png) no-repeat center center; border:3px solid #14BECF;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico04:before{background:url(../images/common/custom_service_ico04.png) no-repeat center center; border:3px solid #F1729D;}
.m_cont03 .custom_service_wrap .custom_service_list li a dl dt{font-size:18px; margin-bottom:15px; font-weight:700;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico01 dl dt{color:#F37020;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico02 dl dt{color:#A6CE39;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico03 dl dt{color:#14BECF;}
.m_cont03 .custom_service_wrap .custom_service_list li a.ico04 dl dt{color:#F1729D;}
.m_cont03 .custom_service_wrap .custom_service_list li a dl dd{color:#fff; font-size:14px; line-height:18px; letter-spacing:-1px;}

.banner_zone_wrap{width:1256px; margin:0 auto; margin-bottom:100px;}
.banner_zone_wrap .banner_zone_list .slick-slide{margin:0 12px;}
.banner_zone_wrap .banner_zone_list .item{vertical-align:top;}
.banner_zone_wrap .banner_zone_list .item a{display:block; height:106px; background-size:100% auto; background-repeat:no-repeat; font-size:0;}
.banner_zone_wrap .banner_zone_list .slick-arrow{position:absolute; top:50%; width:50px; height:50px; margin-top:-25px; font-size:0; border-radius:50px; box-shadow:0px 0px 5px rgba(0, 0, 0, .3); z-index:2}
.banner_zone_wrap .banner_zone_list .slick-arrow.slick-prev{left:-13px; background:#fff url(../images/common/banner_zone_prev.png) no-repeat center center;}
.banner_zone_wrap .banner_zone_list .slick-arrow.slick-next{right:-13px; background:#fff url(../images/common/banner_zone_next.png) no-repeat center center;}
.banner_zone_wrap .banner_zone_list .slick-dots{position:absolute; bottom:-35px; left:0; width:100%; text-align:center;}
.banner_zone_wrap .banner_zone_list .slick-dots li{display:inline-block; margin-left:8px;}
.banner_zone_wrap .banner_zone_list .slick-dots li button{width:15px; height:15px; background:#929292; border-radius:15px; font-size:0;}
.banner_zone_wrap .banner_zone_list .slick-dots li.slick-active button{width:40px; background:#f37020;}

.social_link_wrap{position:relative; width:1232px; margin:0 auto; margin-bottom:70px;}
.social_link_wrap h3{margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #bebebe; font-size:22px;}
.social_link_wrap h3 strong{color:#14BECF;}
.social_link_wrap h3 span{margin-left:5px; font-size:16px; font-weight:300;}
.social_link_wrap .sns_list{position:absolute; top:0; right:0; overflow:hidden;}
.social_link_wrap .sns_list li{float:left; margin-left:15px;}

.link_list_wrap{height:98px; border-top:1px solid #d2d2d2;}
.link_list_wrap .link_list_inner{position:relative; width:1232px; height:100%; margin:0 auto; padding-left:156px; box-sizing:border-box;}
.link_list_wrap .link_list_inner .link_list{height:100%; padding-top:18px; background:#ffffff; border-radius:10px 10px 10px 0;}
.link_list_wrap .link_list_inner .link_list .slick-slide{margin:0 10px;}
.link_list_wrap .link_list_inner .link_list .slick-slide .item a{display:block; height:51px; background:#ffffff; text-align:center;}
.link_list_wrap .link_list_inner .link_list .slick-slide .item a:after{content:""; display:inline-block; height:100%; vertical-align:middle;}
.link_list_wrap .link_list_inner .link_list .slick-slide .item a img{display:inline-block; max-width:100%; margin:0 auto; vertical-align:middle;}
.link_list_wrap .link_list_inner .control_box{position:absolute; top:25px; left:0; width:116px; height:45px; padding-top:12px; background:rgba(0, 0, 0, 0.6); text-align:center; border-radius:45px; box-sizing:border-box;}
.link_list_wrap .link_list_inner .control_box h3{display:inline-block; color:#ffffff; font-size:20px; font-weight:300;}
.link_list_wrap .link_list_inner .control_box button{display:inline-block; width:14px; height:20px; margin-left:10px; font-size:0; background-position:center center; background-repeat:no-repeat; vertical-align:middle;}
.link_list_wrap .link_list_inner .control_box button:first-child{margin-left:0;}
.link_list_wrap .link_list_inner .control_box button.prev{background-image:url(../images/common/link_list_prev.png);}
.link_list_wrap .link_list_inner .control_box button.stop{background-image:url(../images/common/link_list_stop.png);}
.link_list_wrap .link_list_inner .control_box button.start{background-image:url(../images/common/link_list_start.png);}
.link_list_wrap .link_list_inner .control_box button.next{background-image:url(../images/common/link_list_next.png);}

/*footer*/
.footer_link{background:#2a2a2a;}
.footer_link .footer_link_list{width:1232px; margin:0 auto; overflow:hidden;}
.footer_link .footer_link_list li{position:relative; float:left; padding:20px;}
.footer_link .footer_link_list li:before{content:""; position:absolute; top:50%; left:0; width:1px; height:16px; margin-top:-8px; background:rgba(225, 225, 225,  0.3);}
.footer_link .footer_link_list li:first-child:before{display:none;}
.footer_link .footer_link_list li a{color:#ffffff; font-size:18px;}
.footer_link .footer_link_list li a strong{color:#F9A61A; font-weight:700;}

.footer_bottom{position:relative; width:1232px; margin:0 auto; padding:50px 0;}
.footer_bottom:after{content:""; display:block; clear:both;}
.footer_bottom .footer_logo{float:left;}
.footer_bottom .copyright{float:left; margin-left:25px; color:#C9C9C9; font-size:16px; line-height:23px;}
.footer_bottom .copyright span{font-size:16px; margin-right:15px;}
.footer_bottom .copyright b{font-size:16px; color:#C9C9C9; font-weight:700;}

.footer_bottom .link_sel{position:absolute; top:50px; right:25px;}
.footer_bottom .link_sel > a{position:relative; display:block; width:250px; height:50px; padding:15px 12px; font-size:16px; color:#686868; background:#eeeeee; border-radius:3px; box-sizing:border-box;}
.footer_bottom .link_sel > a:after{content:""; position:absolute; display:block; right:15px; top:50%; width:14px; height:9px; margin-top:-4px; background:url(../images/common/footer_sel_arrow.png) no-repeat;}
.footer_bottom .link_sel .link_sel_list{display:none; position:absolute; bottom:100%; left:0; width:100%; margin-bottom:-5px; padding:0 12px 5px; background:#eeeeee; border-radius:3px 3px 0 0; box-sizing:border-box;}
.footer_bottom .link_sel.on .link_sel_list{display:block;}
.footer_bottom .link_sel .link_sel_list li a{display:block; line-height:35px; font-size:16px; color:#686868;}

.favor_group{position:fixed; left:50%; top:220px; width:110px; margin-left:700px;}
.favor_group .favor_group_list{padding:30px 0 50px 0; background:#ffffff; border-radius:15px; border:3px solid #A6CE39; box-sizing:border-box;}
.favor_group .favor_group_list li{margin-top:25px;}
.favor_group .favor_group_list li:first-child{margin-top:0;}
.favor_group .favor_group_list li a{position:relative; display:block; font-size:14px; text-align:center;}
.favor_group .favor_group_list li a:before{content:""; display:block; height:32px; margin-bottom:10px;}
.favor_group .favor_group_list li a.ico01:before{background:url(../images/common/favor_ico01.png) no-repeat center center;}
.favor_group .favor_group_list li a.ico02:before{background:url(../images/common/favor_ico02.png) no-repeat center center;}
.favor_group .favor_group_list li a.ico03:before{background:url(../images/common/favor_ico03.png) no-repeat center center;}
.favor_group .top_btn{position:absolute; bottom:-30px; left:50%; width:60px; height:60px; margin-left:-30px; background:#000; color:#fff; text-align:center; font-weight:700; border-radius:60px;}
.favor_group .top_btn:before{content:""; display:block; height:13px; margin-top:12px; margin-bottom:8px; background:url(../images/common/top_btn_arrow.png) no-repeat center center;}



/*sub page*/

/*반응형*/

@media screen and (max-width:1232px){
}
@media screen and (max-width:750px){
}
@media screen and (max-width:650px){
}
@media screen and (max-width:550px){
}
@media screen and (max-width:480px){
}
@media screen and (max-width:380px){
}