@charset "utf-8";



/***** 
    responsive 
                */

#header{position:relative; z-index:102; border-bottom:1px solid #dddddd; box-shadow:0 1px 3px 0 rgba(90, 90, 90, .3);}
#contents{position:relative; z-index:101;}
#footer{position:relative; z-index:100; border-top:2px solid #000000;}

/*header*/
.header_nav{background:#f6921e;}
.header_nav ul{width:1000px; margin:0 auto; text-align:right;}
.header_nav ul li{display:inline-block;}
.header_nav ul li a{position:relative; display:block; width:94px; line-height:30px; font-size:12px; color:#fff; text-align:center; background:#f26522;}
.header_nav ul li:first-child a{background:none;}
.header_nav ul li:first-child a:before{content:""; display:block; position:absolute; left:0; top:50%; width:1px; height:14px; margin-top:-7px; background:#f9b96f;}

.header_inner{width:1000px; margin:0 auto; font-size:0;}
.header_inner .main_logo{display:inline-block; width:249px;}
.header_inner .main_logo a{display:block; padding-top:18px;}
.header_inner .gnb_wrap{display:inline-block; width:750px; vertical-align:top; border-right:1px solid #dddddd;}
.header_inner .gnb_wrap .gnb_list > li{display:inline-block; width:25%; box-sizing:border-box;}
.header_inner .gnb_wrap .gnb_list > li > a{display:block; height:90px; line-height:90px; font-size:18px; font-weight:bold; text-align:center; border-left:1px solid #dddddd;}
.header_inner .gnb_wrap .gnb_list > li.on > a{color:#f26522; border-bottom:2px solid #f26522; box-sizing:border-box;}
.header_inner .gnb_depth2_wrap{display:none; background:#fff; position:absolute; top:120px; left:0; width:100%; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; box-shadow:0 1px 3px 0 rgba(90, 90, 90, .3);}
.header_inner .gnb_depth2_wrap.on{display:block;}
.header_inner .gnb_depth2_wrap .depth2_inner{position:relative; width:1000px; margin:0 auto; font-size:0;}
.header_inner .gnb_depth2_wrap .depth2_inner:before{content:""; display:block; position:absolute; width:367px; height:131px; bottom:0; left:-140px; background:url(../images/content/gnb_bg.png) no-repeat;}
.header_inner .gnb_depth2_wrap .depth2_inner > h2{display:inline-block; width:249px; padding-top:50px; font-size:30px; color:#212121; vertical-align:top;}
.header_inner .gnb_depth2_wrap .depth2_inner > h2 p{display:none;}
.header_inner .gnb_depth2_wrap .depth2_inner > h2 p.on{display:block;}
.header_inner .gnb_depth2_wrap .depth2_inner > h2 p span{display:block; padding-top:15px; font-size:16px; font-weight:normal; color:#666666;}
.header_inner .gnb_depth2_wrap .depth2_inner > ul{display:inline-block; width:750px;}
.header_inner .gnb_depth2_wrap .depth2_inner > ul > li{display:inline-block; width:25%; height:310px; padding:30px 0; font-size:18px; vertical-align:top; box-sizing:border-box;}
.header_inner .gnb_depth2_wrap .depth2_inner > ul > li > ul{display:block; height:100%; border-right:1px solid #dddddd;}
.header_inner .gnb_depth2_wrap .depth2_inner > ul > li:first-child > ul{border-left:1px solid #dddddd;}
.header_inner .gnb_depth2_wrap .depth2_inner > ul > li > ul > li > a{display:block; padding:15px 0; color:#212121; text-align:center;}


/*content*/
.main_top_wrap{margin-bottom:35px; background:#e9e9e9;}
.main_top_wrap .main_top_inner{position:relative; top:35px; width:1000px; margin:0 auto; font-size:0;}
.main_top_cont{display:inline-block; width:50%; height:450px; /*height:45vw;*/ font-size:13px; box-sizing:border-box; vertical-align:top;}
.main_top_cont.swiper-container{border:1px solid #b7b7b7;}
.main_top_cont.swiper-container .swiper-button-next{width:33px; height:47px; margin-top:-24px; right:8px; background:url(../images/content/main_arrow_r.png) no-repeat;}
.main_top_cont.swiper-container .swiper-button-prev{width:33px; height:47px; margin-top:-24px; left:8px; background:url(../images/content/main_arrow_l.png) no-repeat;}
.main_top_cont.swiper-container > .swiper-pagination-bullets{bottom:35px;}
.main_top_cont.swiper-container .swiper-pagination-bullet{width:20px; height:16px; background:url(../images/content/main_dot_off.png) no-repeat; opacity:1;}
.main_top_cont.swiper-container .swiper-pagination-bullet-active{width:40px; height:16px; background:url(../images/content/main_dot_on.png) no-repeat;}
.main_visual_list li a{display:block; font-size:0; height:100%;}
.main_visual_list li.main_bg01 a{background:url(../images/content/main_banner01.jpg) no-repeat; background-size:cover;}
.main_visual_list li.main_bg02 a{background:url(../images/content/main_banner01.jpg) no-repeat; background-size:cover;}
.main_visual_list li.main_bg03 a{background:url(../images/content/main_banner01.jpg) no-repeat; background-size:cover;}

.main_info_list{overflow:hidden;}
.main_info_list > li{position:relative; float:left; width:50%;}
.main_info_list > li:after{content:""; display:block; position:absolute; top:24px; right:15px; width:17px; height:17px; background:url(../images/content/info_more_btn.png) no-repeat;}
.main_info_list > li.info_bg01{background:url(../images/content/main_info_bg01.jpg) no-repeat; background-size:cover;}
.main_info_list > li.info_bg02{background:url(../images/content/main_info_bg02.jpg) no-repeat; background-size:cover;}
.main_info_list > li.info_bg03{background:url(../images/content/main_info_bg03.jpg) no-repeat; background-size:cover;}
.main_info_list > li.info_bg04{background:url(../images/content/main_info_bg04.jpg) no-repeat; background-size:cover;}
.main_info_list > li a{display:block; height:150px; padding:20px 15px 0; box-sizing:border-box;}
.main_info_list > li a dl{color:#fff;}
.main_info_list > li a dl dt{position:relative; padding-bottom:2px; margin-bottom:15px; font-size:17px;}
.main_info_list > li a dl dt h3{letter-spacing:-2px;}
.main_info_list > li a dl dt:before{content:""; display:block; position:absolute; left:0; bottom:0; width:18px; height:2px; background:#fff;}
.main_info_list > li a dl dd{font-size:14px;}
.main_info_list > li a dl dd .oper_txt{font-size:12px;}
.main_info_list > li a dl dd .oper_txt li:first-child{margin-bottom:6px; font-size:14px;}
.main_info_list > li a dl dd .call_txt{display:block; padding-top:15px;}
.main_info_list > li a dl dd .call_txt strong{font-size:24px;}

.info_bnr_wrap{height:150px; border:1px solid #1197d5; box-sizing:border-box;}
.info_bnr_wrap .info_bnr_zone{height:148px;}
.info_bnr_wrap .info_bnr_zone .info_bnr_tit{height:43px; line-height:43px; padding-left:20px; color:#fff; font-size:18px; background:#1197d5;}
.info_bnr_wrap .info_bnr_zone .info_visual_list li{font-size:0; height:105px;}
.info_bnr_wrap .info_bnr_zone .info_visual_list li a{display:block; height:100%;}
.info_bnr_wrap .info_bnr_zone .info_visual_list li.bzone_bg01{background:url(../images/content/bzone_bg01.jpg) no-repeat; background-size:cover;}
.info_bnr_wrap .info_bnr_zone .info_visual_list li.bzone_bg02{background:url(../images/content/bzone_bg01.jpg) no-repeat; background-size:cover;}
.info_bnr_wrap .info_bnr_zone .info_visual_list li.bzone_bg03{background:url(../images/content/bzone_bg01.jpg) no-repeat; background-size:cover;}
.info_bnr_wrap .info_bnr_zone .info_visual_list li.bzone_bg04{background:url(../images/content/bzone_bg01.jpg) no-repeat; background-size:cover;}
.info_bnr_wrap .info_bnr_zone .swiper-pagination-fraction{bottom:auto; top:12px; padding-right:15px; text-align:right; z-index:1; font-size:14px; color:#fff; box-sizing:border-box;}
.info_bnr_wrap .info_bnr_zone .swiper-pagination-fraction .swiper-pagination-current{color:#00608c;}
.info_bnr_wrap .info_bnr_zone .swiper-button-next{width:7px; height:13px; margin-top:0; top:14px; right:75px; background:url(../images/content/bzone_arrow_r.png) no-repeat;}
.info_bnr_wrap .info_bnr_zone .swiper-button-prev{width:7px; height:13px; margin-top:0; top:14px; left:auto; right:135px; background:url(../images/content/bzone_arrow_l.png) no-repeat;}
.info_bnr_wrap .info_bnr_zone .auto_btn{position:absolute; top:15px; right:102px; z-index:10;}
.info_bnr_wrap .info_bnr_zone .auto_btn .stop{display:block; width:9px; height:11px; font-size:0; background:url(../images/content/bzone_btn_stop.png) no-repeat; }
.info_bnr_wrap .info_bnr_zone .auto_btn .start{display:block; width:9px; height:11px; font-size:0; background:url(../images/content/bzone_btn_stop.png) no-repeat; }


	/*footer*/
.footer_inner{position:relative; width:1000px; margin:0 auto; min-height:100px;}
.footer_inner .copright{padding-top:25px; line-height:1.4; font-size:12px; color:#878787;}
.footer_inner .footer_logo{position:absolute; right:0; top:15px;}