@charset "utf-8";



/***** 
    responsive 
                */

#wrap{min-width:1720px;}
#header{position:absolute; top:0; left:0; width:100%; min-width:1720px; z-index:102;}
#content{position:relative; padding-top:120px; background:url(../images/common/wrap_bg.png) no-repeat center center / cover; z-index:100;}
#footer{position:relative; z-index:101; background:#f5f5f5;}

/*header*/
.header_inner{position:relative; height:120px;}
.header_inner.on{background:#ffffff;}

.main_logo{position:absolute; top:44px; left:50px;}
.main_logo a{display:block;}

/*gnb*/
.gnb_wrap{height:100%;}
.gnb_wrap .gnb_bg{display:none; position:absolute; top:100%; width:100%; height:400px; background:rgba(255, 255, 255, .9); border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing:border-box;}
.gnb_wrap .gnb_depth1{width:1175px; margin:0 auto; padding-left:50px;}
.gnb_wrap .gnb_depth1:after{content:""; display:block; clear:both;}
.gnb_wrap .gnb_depth1 > li{position:relative; float:left; width:20%; box-sizing:border-box; z-index:2}
.gnb_wrap .gnb_depth1 > li > a{display:block; height:100%; color:#ffffff; font-size:24px; line-height:120px; text-align:center;}
.header_inner.on .gnb_wrap .gnb_depth1 > li:hover > a{position:relative; color:#f38200; font-weight:700;}
.header_inner.on .gnb_wrap .gnb_depth1 > li:hover > a:after{content:""; position:absolute; bottom:30px; left:50%; width:6px; height:6px; margin-left:-3px; background:#f38200; border-radius:6px;}
.header_inner.on .gnb_wrap .gnb_depth1 > li > a{color:#000000;}

.gnb_wrap .gnb_depth1 > li .gnb_depth2{display:none; position:absolute; top:100%; left:0; width:100%; height:400px; padding:25px 30px; border-right:1px solid #e5e5e5; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing:border-box;}
.gnb_wrap .gnb_depth1 > li:first-child .gnb_depth2{border-left:1px solid #e5e5e5;}
.gnb_wrap .gnb_depth1 > li:hover .gnb_depth2{background:#ffffff;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li{margin-bottom:30px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li:last-child{margin-bottom:0;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > a{font-size:16px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li:hover > a{color:#f38200;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li.link:hover > a{padding-right:22px; background:url(../images/common/gnb_depth2_link.png) no-repeat right 7px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li{margin-top:10px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li:first-child{margin-top:15px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li a{font-size:16px; color:#858585;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li a:before{content:"-"; margin-right:3px;}

/*전체메뉴*/
.dim{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, .5); z-index:103;}
.all_menu_btn{position:absolute; top:40px; right:50px; z-index:3;}
.all_menu_btn a{display:block; font-size:14px; color:#ffffff;}
.all_menu_btn a:before{content:""; display:block; width:34px; height:23px; margin:0 auto; margin-bottom:5px; background:url(../images/common/all_menu_btn.png) no-repeat center center;}
.header_inner.on .all_menu_btn:before{background:url(../images/common/all_menu_btn_h.png) no-repeat center center;}
.header_inner.on .all_menu_btn a{color:#000000;}

/*main contents*/
.m_cont_tit{position:relative; width:1440px; margin:0 auto; padding:40px 0; text-align:center;}
.m_cont_tit .tit_img .m_img{display:none;}

.search_wrap{position:absolute; top:40px; right:0; width:390px; height:53px; border:1px solid #ffffff; border-radius:55px; background:rgba(255, 255, 255, .1); text-align:left;}
.search_wrap .search_list{display:block; position:relative; height:100%;}
.search_wrap .search_list input{width:330px; height:100%; padding-left:25px; font-size:16px; color:#000000; border:0; background:none; box-sizing:border-box;}
.search_wrap .search_list input::placeholder{color:#000000;}
.search_wrap .search_list input:-ms-input-placeholder{color:#000000;}
.search_wrap .search_list input::-webkit-input-placeholder{color:#000000;}
.search_wrap .search_list button{position:absolute; top:0; right:0; width:53px; height:100%; background:url(../images/common/cont_search_btn.png) no-repeat 12px center; font-size:0;}

.sns_list{position:absolute; height:100%; top:0; left:30px;}
.sns_list:after{content:""; position:absolute; top:0; left:50%; width:1px; height:100%; background:rgba(255, 255, 255, .3)}
.sns_list ul{position:relative; top:50%; margin-top:-270px;}
.sns_list ul li{margin-bottom:20px;}
.sns_list ul li a{display:block; width:24px; height:24px; background-position:center center; background-repeat:no-repeat; font-size:0;}
.sns_list ul li.sns_b a{background-image:url(../images/common/sns_ico_b.png);}
.sns_list ul li.sns_i a{background-image:url(../images/common/sns_ico_i.png);}
.sns_list ul li.sns_f a{background-image:url(../images/common/sns_ico_f.png);}
.sns_list ul li.sns_t a{background-image:url(../images/common/sns_ico_t.png);}
.sns_list ul li.sns_b:hover a{background-image:url(../images/common/sns_ico_b_h.png);}
.sns_list ul li.sns_i:hover a{background-image:url(../images/common/sns_ico_i_h.png);}
.sns_list ul li.sns_f:hover a{background-image:url(../images/common/sns_ico_f_h.png);}
.sns_list ul li.sns_t:hover a{background-image:url(../images/common/sns_ico_t_h.png);}

.quick_menu{position:absolute; top:50%; right:0; margin-top:-300px; background:rgba(0, 0, 0, .5); border-radius:10px 0 0 10px;}
.quick_menu h3{display:none;}
.quick_menu ul li{position:relative;}
.quick_menu ul li:before{content:""; position:absolute; top:0; left:50%; width:34px; height:1px; margin-left:-17px; background:rgba(255, 255, 255, .5);}
.quick_menu ul li:first-child:before{display:none;}
.quick_menu ul li a{display:block; width:90px; padding:25px 0; text-align:center; font-size:14px; color:#ffffff; box-sizing:border-box;}
.quick_menu ul li a:before{content:""; display:block; width:36px; height:36px; margin:0 auto; margin-bottom:10px; background-repeat:no-repeat; background-position:center center;}
.quick_menu ul li.quick_ico01 a:hover{color:#F3DB00;}
.quick_menu ul li.quick_ico02 a:hover{color:#68D448;}
.quick_menu ul li.quick_ico03 a:hover{color:#2AB0E9;}
.quick_menu ul li.quick_ico04 a:hover{color:#FB9A00;}
.quick_menu ul li.quick_ico01 a:before{background-image:url(../images/common/quick_ico01.png);}
.quick_menu ul li.quick_ico02 a:before{background-image:url(../images/common/quick_ico02.png);}
.quick_menu ul li.quick_ico03 a:before{background-image:url(../images/common/quick_ico03.png);}
.quick_menu ul li.quick_ico04 a:before{background-image:url(../images/common/quick_ico04.png);}
.quick_menu ul li.quick_ico01 a:hover:before{background-image:url(../images/common/quick_ico01_h.png);}
.quick_menu ul li.quick_ico02 a:hover:before{background-image:url(../images/common/quick_ico02_h.png);}
.quick_menu ul li.quick_ico03 a:hover:before{background-image:url(../images/common/quick_ico03_h.png);}
.quick_menu ul li.quick_ico04 a:hover:before{background-image:url(../images/common/quick_ico04_h.png);}

.m_cont02{width:1440px; margin:0 auto;}
.m_cont02:after{content:""; display:block; clear:both;}
.main_banner{float:left; width:710px;}
.main_banner .main_banner_tit{position:relative; overflow:hidden;}
.main_banner .main_banner_tit:after{content:""; position:absolute; top:9px; left:100px; width:445px; height:1px; background:#000000;}
.main_banner .main_banner_tit h3{float:left; margin-bottom:35px; font-size:18px; font-weight:300;}
.main_banner .main_banner_tit .main_banner_control{float:right; overflow:hidden;}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn{float:left;}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn span{color:#597782;}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn button{width:14px; height:14px; margin:0 5px; font-size:0; vertical-align:middle; background-position:center center; background-repeat:no-repeat;}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn button.prev{background-image:url(../images/common/main_banner_prev.png);}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn button.next{background-image:url(../images/common/main_banner_next.png);}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn button.stop{background-image:url(../images/common/main_banner_stop.png);}
.main_banner .main_banner_tit .main_banner_control .main_banner_btn button.start{background-image:url(../images/common/main_banner_start.png);}
.main_banner .main_banner_tit .main_banner_control .num{float:left; margin-left:15px; font-size:18px; color:#597782;}
.main_banner .main_banner_tit .main_banner_control .num strong{margin:0 5px; color:#000000;}
.main_banner .main_banner_tit .main_banner_control .num span{margin:0 5px; color:#000000;}
.main_banner .main_banner_list .item .txt{margin-bottom:20px; font-size:30px; color:#000000;}
.main_banner .main_banner_list .item a{display:block; height:480px; font-size:0;}


.guide_tab{float:right; width:710px;}


.m_cont03{width:1440px; margin:0 auto;}

/*footer*/
.footer_inner{position:relative; width:1150px; margin:0 auto; padding-left:155px; box-sizing:border-box;}
.footer_logo{position:absolute; top:60px; left:0;}
.footer_link{padding:20px 0; border-bottom:1px solid #ffffff;}
.footer_link .footer_link_list{overflow:hidden;}
.footer_link .footer_link_list li{position:relative; float:left; margin-left:25px; padding-left:25px;}
.footer_link .footer_link_list li:before{content:""; position:absolute; top:50%; left:0; width:1px; height:16px; margin-top:-8px; background:#acacac;}
.footer_link .footer_link_list li:first-child{margin-left:0; padding-left:0;}
.footer_link .footer_link_list li:first-child:before{display:none;}
.footer_link .footer_link_list li a{color:#6b6b6b; font-size:16px; line-height:43px;}
.footer_link .footer_link_list li a strong{color:#f76707;}
.footer_link .link_sel{position:absolute; top:20px; right:0;}
.footer_link .link_sel > a{position:relative; display:block; width:256px; height:43px; padding:14px 0 0 12px; font-size:14px; color:#828282; border-radius:10px; border:1px solid #b8b8b8; box-sizing:border-box;}
.footer_link .link_sel > a:after{content:""; position:absolute; display:block; right:15px; top:50%; width:13px; height:9px; margin-top:-4px; background:url(../images/common/footer_sel_arrow.png) no-repeat;}
.footer_link .link_sel .link_sel_list{display:none; position:absolute; bottom:100%; left:0; width:100%; margin-bottom:-9px; padding:0 12px 5px; background:#f5f5f5; border-radius:10px 10px 0 0; border:1px solid #b8b8b8; border-bottom:0; box-sizing:border-box;}
.footer_link .link_sel.on .link_sel_list{display:block;}
.footer_link .link_sel .link_sel_list li a{display:block; line-height:43px; font-size:14px; color:#828282;}

.copyright{padding:30px 0; font-size:14px; color:#333333; font-size:14px; line-height:30px;}
.copyright span{margin-left:30px;}

/*반응형*/

@media screen and (max-width:1244px){
	#header{height:96px;}
	.header_inner{width:100%; height:100%;}
	.main_logo{top:28px; left:50%; margin-left:-134px;}
	.gnb_wrap{display:none;}
	.all_menu_btn{position:absolute; top:16px; right:16px; width:auto; margin:0;}
	.all_menu_btn a{position:static; display:block; width:64px; height:64px; background:url(../images/common/all_menu_open.png) no-repeat center center / 26px 24px; border:1px solid #e0e0e0; border-radius:5px; font-size:0; box-sizing:border-box;}
}
@media screen and (max-width:750px){
}
@media screen and (max-width:650px){
}
@media screen and (max-width:550px){
}
@media screen and (max-width:480px){
}
@media screen and (max-width:380px){
}