@charset "utf-8";



/***** 
    responsive 
                */

#wrap{min-width:1720px; background:url(../images/common/wrap_bg.png) no-repeat center center / cover;}
#header{position:relative; z-index:102;}
#contents{position:relative; z-index:100;}
#footer{position:relative; z-index:101; background:#f5f5f5;}

/*header*/
.header_inner{position:relative; height:120px;}
.header_inner.on{background:#ffffff;}

.main_logo{position:absolute; top:44px; left:50%; margin-left:-860px;}
.main_logo a{display:block;}

.search_wrap{position:absolute; top:32px; left:50%; width:400px; margin-left:-200px;}
.search_wrap .search_inner{height:48px;}
.search_wrap .search_inner .search_list{display:block; position:relative; height:100%;}
.search_wrap .search_inner .search_list input{width:330px; height:100%; padding:0 15px; font-size:16px; color:#757575; border:3px solid #38ada5; border-radius:4px; box-sizing:border-box;}
.search_wrap .search_inner .search_list button{position:absolute; top:0; right:0; width:63px; height:100%; background:url(../images/common/h_search_bg.png) no-repeat; font-size:0;}
.search_wrap .search_inner .search_list button:after{content:""; display:block; width:100%; height:100%; background:url(../images/common/h_search_btn.png) no-repeat center center;}
.search_wrap .search_inner .search_close{display:none;}

/*gnb*/
.gnb_wrap{height:100%;}
.gnb_wrap .gnb_bg{display:none; position:absolute; top:100%; width:100%; height:400px; background:rgba(255, 255, 255, .9); border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing:border-box;}
.gnb_wrap .gnb_depth1{width:1175px; margin:0 auto;}
.gnb_wrap .gnb_depth1:after{content:""; display:block; clear:both;}
.gnb_wrap .gnb_depth1 > li{position:relative; float:left; width:20%; box-sizing:border-box; z-index:2}
.gnb_wrap .gnb_depth1 > li > a{display:block; height:100%; color:#ffffff; font-size:24px; line-height:120px; text-align:center;}
.header_inner.on .gnb_wrap .gnb_depth1 > li:hover > a{position:relative; color:#f38200; font-weight:700;}
.header_inner.on .gnb_wrap .gnb_depth1 > li:hover > a:after{content:""; position:absolute; bottom:30px; left:50%; width:6px; height:6px; margin-left:-3px; background:#f38200; border-radius:6px;}
.header_inner.on .gnb_wrap .gnb_depth1 > li > a{color:#000000;}

.gnb_wrap .gnb_depth1 > li .gnb_depth2{display:none; position:absolute; top:100%; left:0; width:100%; height:400px; padding:25px 30px; border-right:1px solid #e5e5e5; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing:border-box;}
.gnb_wrap .gnb_depth1 > li:first-child .gnb_depth2{border-left:1px solid #e5e5e5;}
.gnb_wrap .gnb_depth1 > li:hover .gnb_depth2{background:#ffffff;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li{margin-bottom:30px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li:last-child{margin-bottom:0;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > a{font-size:16px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li:hover > a{color:#f38200;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li.link:hover > a{padding-right:22px; background:url(../images/common/gnb_depth2_link.png) no-repeat right 7px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li{margin-top:10px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li:first-child{margin-top:15px;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li a{font-size:16px; color:#858585;}
.gnb_wrap .gnb_depth1 > li .gnb_depth2 > li > .gnb_depth3 li a:before{content:"-"; margin-right:3px;}


/*전체메뉴*/
.dim{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, .5); z-index:103;}


/*main contents*/
.m_cont01{height:693px; background:url(../images/common/main_top_bg.png) no-repeat center center / cover;}

/*footer*/
.footer_link{background:#1a1d22;}
.footer_link .footer_link_list{width:1244px; margin:0 auto; overflow:hidden;}
.footer_link .footer_link_list li{float:left; padding:20px; border-right:2px solid #252c34;}
.footer_link .footer_link_list li:first-child{border-left:2px solid #252c34;}
.footer_link .footer_link_list li a{color:#ffffff; font-size:16px;}
.footer_link .footer_link_list li a strong{color:#009aff; font-weight:500;}

.footer_bottom{position:relative; width:1244px; margin:0 auto; padding:40px 0 50px;}
.footer_bottom:after{content:""; display:block; clear:both;}
.footer_bottom .footer_logo{float:left;}
.footer_bottom .copyright{float:left; margin-left:20px; color:#a9aeb2; font-size:16px; line-height:23px;}
.footer_bottom .copyright span{font-size:14px; color:#73777a;}
.footer_bottom .link_sel{position:absolute; top:30px; right:0;}
.footer_bottom .link_sel > li{position:relative; width:240px;}
.footer_bottom .link_sel > li:first-child{margin-bottom:15px;}
.footer_bottom .link_sel > li > a{position:relative; display:block; width:240px; height:40px; padding:15px 12px; font-size:15px; color:#ffffff; background:#6d7278; border-radius:3px; box-sizing:border-box;}
.footer_bottom .link_sel > li > a:after{content:""; position:absolute; display:block; right:15px; top:50%; width:14px; height:9px; margin-top:-4px; background:url(../images/common/footer_sel_arrow.png) no-repeat;}
.footer_bottom .link_sel > li .link_sel_list{display:none; position:absolute; bottom:100%; left:0; width:100%; margin-bottom:-5px; padding:0 12px 5px; background:#6d7278; border-radius:3px 3px 0 0; box-sizing:border-box;}
.footer_bottom .link_sel > li.on .link_sel_list{display:block;}
.footer_bottom .link_sel > li .link_sel_list li a{display:block; line-height:35px; font-size:15px; color:#ffffff;}

/*반응형*/

@media screen and (max-width:1244px){
	#header{height:96px;}
	.header_inner{width:100%; height:100%;}
	.main_logo{top:28px; left:50%; margin-left:-134px;}
	.search_wrap{display:none; width:100%; height:96px; top:0; left:0; margin-left:0; padding:16px 10px 0; box-sizing:border-box; background:url(../images/common/m_search_wrap_bg.png) no-repeat center center / cover; z-index:2;}
	.search_wrap .search_inner{height:64px; padding-right:85px; box-sizing:border-box;}
	.search_wrap .search_inner .search_list{height:100%; padding-right:0;}
	.search_wrap .search_inner .search_list input{width:100%; height:100%; padding-right:52px; font-size:16px; border:1px solid #E0E0E0; box-sizing:border-box;}
	.search_wrap .search_inner .search_list button{width:64px; height:64px; background:none;}
	.search_wrap .search_inner .search_list button:after{background:url(../images/common/h_search_btn_m.png) no-repeat center center / 28px;}
	.search_wrap .search_inner .search_close{display:block; position:absolute; top:16px; right:16px; width:64px; height:64px; font-size:0; background:#424242 url(../images/common/h_search_close.png) no-repeat center center; border-radius:4px}
	.gnb_wrap{display:none;}
	.all_menu_btn{position:absolute; top:16px; right:16px; width:auto; margin:0;}
	.all_menu_btn a{position:static; display:block; width:64px; height:64px; background:url(../images/common/all_menu_open.png) no-repeat center center / 26px 24px; border:1px solid #e0e0e0; border-radius:5px; font-size:0; box-sizing:border-box;}

	.m_cont01{height:auto; background:url(../images/common/main_top_bg_t.png) no-repeat center center / cover}

	.footer_link .footer_link_list{width:100%; padding:0; box-sizing:border-box;}
	.footer_link .footer_link_list li{width:calc(100% / 6); padding:0; text-align:center; box-sizing:border-box;}
	.footer_link .footer_link_list li a{display:block; line-height:57px;}
	.footer_bottom{width:100%; padding:30px 20px 70px; box-sizing:border-box;}
	.footer_bottom .footer_logo{float:none; display:block; text-align:center; margin-bottom:25px;}
	.footer_bottom .copyright{float:none; display:block; text-align:center; margin-bottom:40px;}
	.footer_bottom .link_sel{position:static;}
	.footer_bottom .link_sel:after{content:""; display:block; clear:both;}
	.footer_bottom .link_sel > li{float:left; width:calc(50% - 8px); margin-left:8px;}
	.footer_bottom .link_sel > li:first-child{margin-left:0; margin-right:8px;}
	.footer_bottom .link_sel > li > a{width:100%;}
}
@media screen and (max-width:750px){
}
@media screen and (max-width:650px){

}
@media screen and (max-width:550px){
}
@media screen and (max-width:480px){

}
@media screen and (max-width:380px){
}