@charset "utf-8";

/* ie */
/*
html {scrollbar-3dLight-Color: #efefef; scrollbar-arrow-color: #dfdfdf; scrollbar-base-color: #efefef; scrollbar-Face-Color: #dfdfdf; scrollbar-Track-Color: #efefef; scrollbar-DarkShadow-Color: #efefef; scrollbar-Highlight-Color: #efefef; scrollbar-Shadow-Color: #efefef}
*/

/* Chrome, Safari용 스크롤 바 */
/*
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
*/

/* reset */
html, body {width:100%;height:100% }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
em {font-style:normal;font-weight:normal;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
img{display:inline-block;vertical-align:top;}
legend {position:absolute;overflow:hidden;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block;}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline;}
span {display:inline-block;}
input[type="text"],input[type='password'],input[type='submit'],input[type='search'],input[type='number'],input[type='tel'],input[type='email'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
input[type='radio'],input[type='checkbox'] {border:none;}
input[type='radio'][disabled]{opacity:0.5;}
input[type='checkbox'][disabled]{opacity:0.5;}
button[disabled]{opacity:0.5;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
/*input[placeholder], [placeholder], *[placeholder] {color:red !important;}*/
:-moz-placeholder { color:#8c8c8c}
::-webkit-input-placeholder {color:#8c8c8c;text-align:left;font-size:14px;}
.input_disc {-webkit-text-security:disc;}
body {overflow:auto;word-break:break-all;word-wrap:break-word;font-size:12px;font-family:'Malgun Gothic', 'Apple Gothic', 'Droid Sans','돋움','Dotum',sans-serif;/*-webkit-user-select:none;*/-webkit-text-size-adjust:none;}
th,td,input,select,textarea,button {font-size:14px;font-family:'Malgun Gothic', 'Apple Gothic', 'Droid Sans','돋움','Dotum',sans-serif;color:#222} /* color값은 디자인가이드에 맞게사용 */
select {-webkit-appearance:none;padding:6px 30px 6px 6px;text-align:center;font-size:14px;border:1px solid #ccc;border-radius:3px;background:#fff url(http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mobile/common/bg_select.png) no-repeat 93% 50%;background-size:5px 4px}

a {display:inline-block;color:#333;text-decoration:none;vertical-align:middle;}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {visibility:hidden;overflow:hidden;width:0;height:0;background-color:transparent;font-size:0;line-height:0;text-indent: -9999em;}


input.i_input[type="text"],
input.i_input[type="number"],
input.i_input[type="email"],
input.i_input[type="url"],
input.i_input[type="password"],
input.i_input[type="tel"] {padding:6px 12px 6px 6px;text-align:left;font-size:14px;border:1px solid #ccc;border-radius:3px;background:#fff}
input.i_passwd[type="number"] {-webkit-text-security:disc;}

.hid_obj {display:none;}
.bg_gray {background:#f5f6f1;}
.bg_white {background:#fff;}
.bg_eeeeee { background:#eee !important; }

/* hr */
.hr_01 { border-size:1px 0 0 1px;border-style:solid;border-color:#dadada #fefefe #fefefe #fefefe;margin:0; }
    

/* align */
.fl_l {float:left;}
.fl_r {float:right;}

.t_l {text-align:left}
.t_c {text-align:center}
.t_r {text-align:right}

.line14 {line-height:1.4}
.line16 {line-height:1.6}

/* font */
.f12 {font-size:12px !important}

/* color */
.col_orange {color:#ff6600 !important;}
.col_red {color:#da2128 !important;}
.col_grey {color:#727272 !important;}
.col_grey2 {color:#bebebe !important;}
.col_grey3 {color:#949494 !important;}
.col_black {color:#262626 !important;}

/* margin/padding */
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt8 {margin-top:8px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt70 {margin-top:70px !important;}
.mb0 {margin-bottom:0 !important;}
.mb30 {margin-bottom:30px !important;}
.ml5 {margin-left:5px !important;}

.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:10px !important;}

/* flex */
.box_flex {display:-webkit-box;}
.box_flex * {-webkit-box-flex:1;display:block;}
.box_flex select + select {margin-left:8px}
.box_flex .tell {width:55%}
.box_flex .devied {position:relative;top:8px;display:block;width:10px;text-align:center;}

.box_flex02 {-webkit-box-flex:1;display:block;}

.border_none { border:none !important }

/* 주문 전체 체크박스 */
.chk_wrap_all input{position:absolute;left:-999px;width:18px;height:18px;}
.chk_wrap_all label{display:inline-block;height:18px;padding-left:23px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/gray_check.jpg') no-repeat 0 0;background-size:18px 36px;font-size:11px;line-height:18px;}
.chk_wrap_all.active label {background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/gray_check.jpg') no-repeat 0 -18px;background-size:18px 36px;}



.chk_wrap {position:relative;float:left;}
.chk_wrap input {position:absolute;left:-999px;width:18px;height:18px;}
.chk_wrap label {display:inline-block;height:18px;padding-left:23px;background:url(/images/common/bg_checkbox.gif) no-repeat 0 0;background-size:18px 36px;font-size:11px;line-height:18px;}
.chk_wrap.active label {background:url(/images/common/bg_checkbox.gif) no-repeat 0 -18px;background-size:18px 36px;}

input[type="radio"] {width:11px;height:11px;-webkit-appearance:none;background:url(/images/common/bg_radio.png) no-repeat 0 0;background-size:11px 24px;}
input[type="radio"]:checked {background:url(/images/common/bg_radio.png) no-repeat 0 100%;background-size:11px 24px;}

/* rotate */
.rotate {
  -webkit-animation: revert-rotating-function 1s linear 1;
     -moz-animation: revert-rotating-function 1s linear 1;
      -ms-animation: revert-rotating-function 1s linear 1;
       -o-animation: revert-rotating-function 1s linear 1;
          animation: revert-rotating-function 1s linear 1;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}
.rotate.active { 
  -webkit-animation: rotating-function 1s linear 1;
     -moz-animation: rotating-function 1s linear 1;
      -ms-animation: rotating-function 1s linear 1;
       -o-animation: rotating-function 1s linear 1;
          animation: rotating-function 1s linear 1;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.option_box { display:-webkit-box;background-color:#eeeeee; }
.option_box * {-webkit-box-flex:1;display:block;}
.option_box .select_box {
    -webkit-appearance: none;
    padding: 6px 30px 6px 6px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff url(http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mobile/common/bg_select.png) no-repeat 93% 50%;
    background-size: 5px 4px; 
}
.option_box .select_box.active { border-color:#ff6600;color:#ff6600; }
.option_box .select_box .option_box { display:none; }
.option_box .select_box.active .option_box {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background:url('/images/season01/bg_layer01.png');
    left:0;
    margin-top:15px;
    z-index:999;
}
.option_box .select_box.active .option_box dl { 
    display: block;
    background-color: #fff;
    padding: 15px 10px;
    margin:0 10px;
}
.option_box .select_box.active .option_box dl dd { 
    display: block;
    padding: 5px;
}
.option_box .select_box.active .option_box dl dd a { 
    -webkit-box-flex: 1;
    display:block;
    text-align:left;
}
.option_box .select_box.active .option_box.twice dl dd { 
    display: -webkit-box;
}
.option_box .select_box.active .option_box.twice dl dd a { 
    width:50%;
}

.option_box .select_box.active .option_box dl dd a.active { color:#ff6600;font-weight:bold; }
.option_box .select_box + .select_box { margin-left:8px }

@-webkit-keyframes rotating-function {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(180deg); }
}

@-moz-keyframes rotating-function {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(180deg); }
}

@-ms-keyframes rotating-function {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(180deg); }
}

@-o-keyframes rotating-function {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(180deg); }
}

@keyframes rotating-function {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}


@-webkit-keyframes revert-rotating-function {
  from { -webkit-transform: rotate(180deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes revert-rotating-function {
  from { -moz-transform: rotate(180deg); }
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes revert-rotating-function {
  from { -ms-transform: rotate(180deg); }
  to { -ms-transform: rotate(360deg); }
}

@-o-keyframes revert-rotating-function {
  from { -o-transform: rotate(180deg); }
  to { -o-transform: rotate(360deg); }
}

@keyframes revert-rotating-function {
  from { transform: rotate(180deg); }
  to { transform: rotate(360deg); }
}